.none{display: none;}
.block{display: block;}
.tips{position: absolute; top: 2em;left:4em;z-index: 99;border: 1px solid #999;border-radius: 4px;box-shadow: 1px 2px 5px #999;}
.tips b{font: bold 1em/1.5em 'Microsoft YaHei';color: #f60;}
.media-body{position: relative;}
.media-heading{cursor: pointer;}
.bordertop{border-top: 2px solid #ccc;}